@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

body {
  font-size: 18px;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body > header > nav {
  justify-content: flex-end;
}

body > header > nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

body > main {
  max-width: 800px;
  margin: 0 auto;
}

dt {
  font-weight: bold;
  margin-bottom: 0.25em;
}

dd {
  margin-bottom: 1em;
  line-height: 1.5;
}
